body{
    background: url(DCI_logo_color.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% auto;
    margin-top: 12%;    
}

#logo{
    background:url(DCI_logo_color.jpg) no-repeat center center;
    height: 500px;
}