<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Driverless Car Institute</title>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/3.0.2/spacelab/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="styles.css">
  

  <style>
    /* Only necessary if you are using navbar-fixed-top */
    body {
      padding-top: 50px;
    }
  </style>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body id="logo">
	<div class="page-header">
		<h1>Driverless Car Institute</h1>
	</div>
	
	<div class="container">
			<h2> Welcome! </h2>

			<p> <strong> Welcome to the Driverless Car Institute. It is our belief that driverless, or self-driving, car technology will be commercially available within the next five years. We also believe that it is likely to be one of the most transformative and disruptive developments of the 21st century. To be sure, there are still many technological hurdles to be cleared. At the Driverless Car Institute, we will leave these hurdles to the programmers and engineers. Our focus is on solving the human factor problems that will ultimately determine the commercial success or failure of driverless cars.</strong> </p> 
	</div>

	<div class="container">
			<h2> Approach </h2>

			<p> <strong> From our research, the Driverless Car Institute has identified the three main human factor problems that may slow or even stop the commercialization of the driverless car:

				<ul> 
					<li>TRUST</li>
					<li>LIABILITY</li>
					<li>REGULATORY</li>
				</ul>	

			Here again, the Driverless Car Institute has decided to narrow its focus to only the TRUST factor. If in the future, we are able to add the resources and team members to have a meaningful impact in either of the other two areas then we will expand our focus accordingly. </strong> </p> 
	</div>

	<div class="container">
			<h2> Goal </h2>

			<p> <strong> First and foremost, the Driverless Car Institute aims to be an educational organization. At this stage in the technology, we will accomplish this by aggregating published research studies and news articles. We will also have a series of podcasts with industry leaders and stakeholders. Eventually, we hope to work with manufacturers and other corporations to help educate the public about the enormous safety and efficiency benefits of driverless cars. </strong> </p> 
	</div>
</body>

</html>

