<div class="page-header">
  <h1>Topic #<%= @topic.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Post</dt>
  <dd><%= @topic.post_id %></dd>

  <dt>Tag</dt>
  <dd><%= @topic.tag_id %></dd>

</dl>
